Source: dehydrated-hook-luadns
Section: misc
Priority: optional
Maintainer: Mark Finnan <mfinnan101@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
Standards-Version: 4.6.2
Homepage: https://github.com/zoot101/dehydrated-hook-luadns

Package: dehydrated-hook-luadns
Architecture: any
Depends:
 bash (>=5.0),
 coreutils (>=9.0),
 jq (>=1.6),
 curl (>=7.8),
 dehydrated (>=0.7.0),
 bind9-dnsutils (>=9.11),
 ${misc:Depends},
Description: dehydrated hook script for Luadns.com
 Allows solving the dns-01 challenge for dehydrated via Luadns.com
